/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/*.key
/storage/framework/laravel-excel/*
/vendor
.editorconfig
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/bootstrap/compiled.php
/workbench
/html
/node_modules
/public/info.php
composer.phar
composer.lock
.env.*.php
.env.php
.env
.env.product
todo.md
.DS_Store
Thumbs.db
.idea
_ide_helper.php
lumen_ide_helper.php
